---
import "@/styles/global.css";
// Supports weights 100-900
import '@fontsource-variable/montserrat';
import Footer from '@/components/Footer.astro';
import WhatsApp from '@/components/WhatsAppButton.astro';
import Header from '@/components/Header.astro';
interface Props {
	title: string;
	canonical: string;
	metaTitle: string;
	metaDescription: string;
	metaImg: string;
	preLoad?: Array <{
		as: string
		href: string
		type: string
	}>;
}

const {
	title,
	canonical,
	metaTitle,
	metaDescription,
	metaImg,
	preLoad
} = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- Favicons -->
		<link rel="icon" href="/images/logos/simbolo-vodem.svg" type="image/svg+xml" />
		<title>{title}</title>
		
		<!-- SEO -->
		<link rel="canonical" href={canonical} />
		<!-- GOOGLE -->
		<meta name="title" content={metaTitle} />
		<meta name="description" content={metaDescription}/>
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Expires" content="Mon, 01 Jul 1970 00:00:00 GMT" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		 <!-- FACEBOOK OPEN GRAPH TAGS -->
		<meta property="og:title" content={metaTitle} />
		<meta property="og:description" content={metaDescription} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonical} />
		<meta property="og:image" content={metaImg} />
		<!-- Twitter -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@" />
		<meta name="twitter:title" content={metaTitle} />
		<meta name="twitter:description" content={metaDescription} />
		<meta name="twitter:url" content={canonical} />
		<meta name="twitter:image" content={metaImg} />
		<!-- preconnect para Google Recaptcha -->
		<link rel="preconnect" href="https://www.google.com">
		<link rel="preconnect" href="https://www.gstatic.com" crossorigin>
		{
			preLoad?.map(({ href, as, type }) => (
				<link rel="preload" {as} {href} {type} />
			))
		}
	</head>
	<body class="font-montserrat bg-gris-bg scrollbar scrollbar-w-3 scrollbar-thumb-rounded-[0.25rem] scrollbar-track-gray-200 scrollbar-thumb-gray-400">
		<Header />
		<main>
			<slot />
		</main>
		<WhatsApp />
		<Footer />
	</body>
</html>
<script>
import {
    initDropdowns,
} from 'flowbite';

initDropdowns();

</script>


<style is:global>

/*recaptcha*/
.grecaptcha-badge {
	width: 70px !important;
	overflow: hidden !important;
	transition: all 0.3s ease !important;
	left: 4px !important;
	z-index:100;
}

.grecaptcha-badge:hover {
	width: 256px !important;
}
/*whatsapp button*/

.float-button {
	text-decoration: none;
    position: fixed;
	padding: 10px;
	padding-right: 10px;
	bottom: 30px;
	right: 30px;
	color: #fff;
	background-color:#25D366;
	border-radius: 100%;
	z-index: 100;
	font-family: Arial;
	font-size: 24px;
	animation: whatsapp-animation 0.5s ease-in-out;
	box-shadow: 1px 2px 5px 2px rgba(30,30,30,0.3);
	transition:all 0.3s ease-out;
}

.float-button:hover {
	background-color: #128C7E;
	color: #fff;
    text-decoration: none;
}

.whbutton {
	font-size: 22px !important;
	padding-right: 5px;
	padding-left: 5px;
}

@keyframes whatsapp-animation {
	from {
		opacity: 0%;
	}

	to {
		opacity: 100%
	}
}

@media screen and (max-width: 545px) {
	span {
		display: none;
	}

	.float-button {
		bottom: 15px;
		right: 15px;
		border-radius: 20px 20px 5px 20px;
	}
	.whbutton {
		font-size: 32px !important;
	}
}


.border-b-half {
    position: relative;
}

.border-b-half::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom-width: 3px;
    border-color: #FFBD59;
    border-bottom-style: solid;
    transition: width 0.5s ease;
}

@media screen and (min-width: 1024px) {
    .border-b-half:hover::after,
    .border-b-half.active::after {
        width: 30px;
    } 
}

.border-b-title {
    position: relative;
}

.border-b-title::after {
    content: '';
    position: absolute;
	display:block;
	height:4px;
    bottom: 0;
    left: 0;
    width: 60px;
    background: #FFBD59;
}
@media screen and (max-width: 474px) {
	.border-b-title::after {
		margin-left:10%;
	}
}
.sticky-reserved {
	margin-top: -64px;
} 

.chaflan-left {
	clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%, 0% 100%);
}
.chaflan-right {
	clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%);
}
</style>
